html {
  background-color: white;
  padding: 30px;
}
/* 
*,
::before,
::after {
  box-sizing: border-box;
}

.landing-page {
  display: flex;
  justify-content: center;
}

.svg-container {
  display: flex;
  justify-content: space-evenly !important;
}

.svg-container div {
  padding-left: 0px !important;
} */
.landing-page-name {
  font-size: 4em;
}
